@model Proyecto.Models.Propiedad


<fieldset>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-controller="Propiedad" asp-action="Crear" method="post">
        <p>
            <label asp-for="Estado"></label>
            <input asp-for="Estado" />
            <span asp-validation-for="Estado" class="text-danger"></span>
        </p>
        <p>
            <label asp-for="TipoPropiedad"></label>
            <input asp-for="TipoPropiedad" />
            <span asp-validation-for="TipoPropiedad" class="text-danger"></span>
        </p>
        <p>
            <label asp-for="TipoOperacion"></label>
            <input asp-for="TipoOperacion" />
            <span asp-validation-for="TipoOperacion" class="text-danger"></span>
        </p>
        <p>
            <label asp-for="Precio"></label>
            <input asp-for="Precio" />
            <span asp-validation-for="Precio" class="text-danger"></span>
        </p>
        <p>
            <label asp-for="Baños"></label>
            <input asp-for="Baños" />
            <span asp-validation-for="Baños" class="text-danger"></span>
        </p>
        <p>
            <label asp-for="Cuartos"></label>
            <input asp-for="Cuartos" />
            <span asp-validation-for="Cuartos" class="text-danger"></span>
        </p>


        <button class="btn btn-primary"> Enviar </button>
        <a class="btn btn-danger" asp-controller="Propiedad" asp-action="Index">Regresar</a>
    </form>

</fieldset>




@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}