@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <div class="Titulo">
       Pagina inicial de grupo Emco
   </div>
    <div>
        Somos una empresa blah blah
    </div>
</div>
